 
<%= simple_form_for user do |form| %>
  <% if user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :role if current_user.admin? %>
  <%= form.input :password %>
  <%= form.input :password_confirmation %>
  <%= form.submit %>
<% end %>