<div class="row">
  <div class="span12 admin">
    <%= title 'Participantes' %>
    <div class="btn-group">
      <%= link_to icon(:plus, 'Añadir participante'), new_user_path, class: :btn if can? :create, User %>
    </div>
    <table class="table table-striped">
      <tbody>

      <% users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td class="btn-group">
              <%= link_to icon(:edit, 'Editar'), edit_user_path(user),
                          class: 'btn' if can? :edit, user %>
              <%= link_to icon(:trash, 'Borrar'), user,
                          class: 'btn', confirm: '¿Estás seguro?',
                          method: :delete if can? :destroy, user %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
