<%= title 'Nombres propuestos' %>
<ul>
   <% proposed_names.each do |name| %>
     <li>
       [<%= name.request_ip %>] <%= name.value %> - (Valor: <%= name.votes_value %> con <%= name.votes_count %> votos)
       <%= link_to icon(:trash, "Eliminar nombre"), name, method: :delete, class: :btn if can? :delete, ProposedName %>
       <div class="votes">
         <%= link_to '+1', proposed_name_votes_path(name, value: 1), method: :post, class: :btn %>
         <%= link_to '-1', proposed_name_votes_path(name, value: -1), method: :post, class: :btn %>
       </div>
     </li>
   <%end %>  
</ul>
<%= link_to '+ Proponer un nuevo nombre', new_proposed_name_path %>
