<div id="content-region" class="row">
  <div id="new-proposed-name">
    <%= render 'form' %>
  </div>
  <div id="vote-proposed-names" class="main span8">
    <%= title t('.title') %>
    <ul class="proposed-names">
      <%= content_tag_for :li, proposed_names do |name| %>
          <div class="proposed_name-value">
            <%= link_to_if can?(:manage, name), divide_name(name.value), name %>
          </div>
          <div class="votes">
              <span class="votes-value">
                <%= name.votes_value %>
              </span>
              <span class="votes-label">
                <%= plural name.votes_value, Vote.model_name.human %>
              </span>
          </div>
          <!--div class="vote-plus">
            <%#= link_to '+1', proposed_name_votes_path(name, value: 1), title: t('.vote'), method: :post %>
          </div-->
      <% end %>
    </ul>
  </div>
  <div class="sidebar sidebar-right proposed-names-sidebar-right span4">
    <div class="block page">
      <%= page.title %>
      <%= render_body page %>
    </div>
    <%= render 'posts/summary' %>
    <%= render 'contact_social_info' %>
  </div>
</div>


