<%= title 'Vota los nombres que más te gusten' %>
<ul class="proposed-names">
  <%= content_tag_for :li, proposed_names do |name| %>
    <div class="proposed_name-value">
      <%= name.value %>
    </div>
    <div class="votes">
      <span class="votes-value">
        <%= name.votes_value %>
      </span>
      <span class="votes-label">
        <% if name.votes_value == 1 %>
          voto
        <% else %>
          votos
        <% end %>
      </span>
    </div>
    <div class="vote-plus">
      <%= link_to " ", proposed_name_votes_path(name, value: 1), title: "votar este nombre", method: :post %>
    </div>
    <% if can? :delete, ProposedName %>
      <div class="admin-links">
        <%= link_to icon(:trash, "Eliminar nombre"), name, method: :delete %>
      </div>
    <% end %>  
  <% end %>
</ul>