<%= title 'Vota los nombres que más te gusten' %>
<ul class="proposed-names">
  <%= content_tag_for :li, proposed_names do |name| %>
    <div class="proposed_name-value">
      <%= name.value %>
    </div>
    <div class="votes">
      <%= name.votes_value %>
      <% if name.votes_value == 1 %>
        <span>voto</span>
      <% else %>
        <span>votos</span>
      <% end %>
    </div>
    <div class="vote-plus">
      <%= link_to " ", proposed_name_votes_path(name, value: 1), title: "votar este nombre", method: :post %>
    </div>
    <% if can? :delete, ProposedName %>
      <div class="admin-links">
        <%= link_to icon(:trash, "Eliminar nombre"), name, method: :delete %>
      </div>
    <% end %>  
  <% end %>
</ul>