<div class="row admin">
  <div class="span12">
    <%= title 'Contenido multimedia' %>

    <%= link_to icon(:plus, 'Añadir'), new_media_item_path %>
    <table class="table stripped">
      <tbody>
      <% media_items.each do |media| %>
          <tr>
            <td>!!@<%= media.id %></td>
            <td><%= link_to media.title, media %></td>
            <td class="btn-group">
              <%= link_to 'Editar', [:edit, media], class: :btn %>
              <%= link_to 'Borrar', media, class: :btn, method: :delete, confirm: '¿Seguro?' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>