<%= render 'proposed_names/summary' %>
<div class="row">
  <div class="main span6">
    <h1><%= page.title %></h1>
    <% if can? :edit, page %>
        <div class="btn-group">
          <%= link_to icon(:pencil, :edit), edit_page_path(page), class: :btn %>
        </div>
    <% end %>

    <%= render_body page %>
  </div>
  <div class="sidebar sidebar-right span4 offset2">
    <%= render 'posts/summary' %>
    <%= render 'contact_social_info' %>
  </div>
</div>
