<% title 'Bienvenidx' %>
<div class="span3">
  <h3>Nombres propuestos</h3>
  <ul class="unstyled">
    <%= content_tag_for :li, names do |name| %>
        <%= name.value %>
    <% end %>
  </ul>
  <%= link_to 'Ver mas...', proposed_names_path %>
</div>
<div class="span6">
  <h1>¿Qué? / ¿Quiénes? / ¿Cómo</h1>

  <p>La plataforma en proceso que proponemos surge como evolución de un
    trabajo de investigación desarrollado por lapanaderia dentro de la linea
    de investigación sobre vivienda y participacion casamasomenos, donde
    se ha elaborado un mapa de posibilidades y herramientas técnicas para
    fomentar la vivienda como proceso participativo.</p>

  <p>A partir de aquí se planteó la posibilidad de desarrollar en colaboración
    con SostreCivic una plataforma colectiva online de apoyo a procesos
    colectivos de habitar, que es el proyecto donde estamos involucrados
    ahora. La programación y el diseño la van a desarrollar dani matas y
    maría duran (bookcamping.cc) y el proyecto se está financiando con
    una ayuda a la inversión de industrias culturales.</p>
</div>
<div class="span3">
  <h3>Últimas entradas al blog</h3>
  <ul class="unstyled">
    <%= content_tag_for :li, posts, class: 'unstyled' do |post| %>
        <%= link_to post.title, post %>
    <% end %>
  </ul>
  <%= link_to 'Leer mas...', posts_path %>
</div>

