<%= render 'proposed_names/summary' %>
<div id="content-region" class="row">
  <div class="span6 posts-index">
    <%= title 'Entradas al blog' %>
    <%= link_to icon(:plus, 'Añadir entrada'), new_post_path if can? :create, Post %>
    <%= div_for posts do |post| %>
      <h2 class><%= link_to post.title, post %></h2>
      <%= render_body post %>
      <div class="post-info">
        <span class="post-date"><%= l post.created_at %></span>
        <%= content_tag :span, ", por: " + post.user.name, class: "post-author" if post.user.present? %>
        - <%= link_to pluralize(post.comments.count, 'comentario', 'comentarios'), post_path(post, anchor: "comments") %>
      </div>
    <% end %>
  </div>
  <div class="sidebar sidebar-right span3 offset3">
    <%= render 'contact_social_info' %>
  </div>
</div>
