
<%= render 'show' %>
<div id="comments">
  <%= render content.comments %>
</div>

<%= simple_form_for [content, Comment.new] do |form| %>
    <%= form.input :body, label: 'Comentario' %>
    <%= form.submit %>
<% end %>
