<%= title post.title %>
<div class="body">
  <%= post.body %>
</div>
<%= link_to icon(:edit, ' Editar entrada'), edit_post_path(post), class: :btn if can? :edit, Post %>
<%= link_to icon(:trash, ' Borrar entrada'), post, confirm: '¿Estás seguro?', class: :btn, method: :delete if can? :delete, Post %>
<div id="comments">
  <%= render post.comments %>
</div>
<%= simple_form_for [post, Comment.new] do |form| %>
  <%= form.input :body, label: 'Comentario' %>
  <%= form.submit %>
<% end %>
