<%= render 'proposed_names/summary' %>
<div id="content-region" class="row blog-post">
  <div class="span3">
    <div class="post-date">
      <%= l post.created_at %>
    </div>
    <%= content_tag :div, "Por: " + post.user.name, class: "post-author" if post.user.present? %>
  </div>
  <div class="span6">
    <%= render 'show' %>
    <div id="comments">
      <p id="comments-count">
        <%= pluralize content.comments.count, "comentario", "comentarios" %>
      </p>
      <%= render content.comments %>
    </div>
    <%= simple_form_for [content, Comment.new] do |form| %>
        <%= form.input :body, label: 'Añadir un comentario', as: :text, input_html: { :rows => 3 } %>
        <%= form.submit "> Comentar" %>
    <% end %>
  </div>
  <div class="sidebar sidebar-right span3">
    <%= render 'contact-social-info' %>
  </div>
</div>

