<h1><%= post.title %></h1>
<div class="body">
  <%= post.body %>
</div>
<div id="comments">
  <%= render post.comments %>
</div>
<%= simple_form_for [post, Comment.new] do |form| %>
  <%= form.input :body, label: 'Comentario' %>
  <%= form.submit %>
<% end %>
<%= link_to 'Editar', edit_post_path(post) if can? :edit, Post %>
<%= link_to 'Borrar', post, confirm: '¿Estás seguro?', method: :delete if can? :delete, Post %>
