<%= render 'proposed_names/summary' %>
<div class="row blog-post">
  <div class="span8">
    <!-- Filas anidadas: http://twitter.github.com/bootstrap/scaffolding.html#gridSystem -->
    <div class="row"><!-- contenido del post -->
      <div class="span2 post-info">
        <div class="post-date">
          <%= l post.created_at %>
        </div>
        <%= content_tag :div, t('.author', name: post.user.name), class: "post-author" if post.user.present? %>
      </div>
      <div class="span6">
        <%= render 'show' %>
      </div>
    </div>
    <div class="row"><!-- comentarios del post -->
      <div class="span2">
        <%= pluralize content.comments.count, Comment.model_name.human %>
      </div>
      <div class="span6">
        <div id="comments">
          <%= render content.comments %>
        </div>
        <%= form_for [content, Comment.new] do |form| %>
            <%= form.cktext_area :body %>
            <%= form.submit t('comments.new.submit') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="sidebar sidebar-right span3 offset1">
    <%= render 'posts/summary' %>
    <%= render 'contact_social_info' %>
  </div>
</div>

