<h2><%= t('.contact') %></h2>

<p><%= t('.email_us') %></p>
<p><%= t('.suscribe') %></p>

<%= form_tag subscribe_users_path, id: 'subscribe' do %>
    <%= text_field_tag :email %>
    <%= submit_tag t('.send') %>
    <%= hidden_field_tag :from_url, request.path %>
<% end %>

<div id="logos">
  <%= t('.project_initiated_by') %>
  <%= link_to 'La panadería', 'http://despachodepan.com', id: 'lapanaderia' %>
  <%= link_to 'Sostre cívic', 'http://www.sostrecivic.org/', id: 'sostrecivic' %>
</div>
