<div id="top" class="container">
  <div id="flash" class="row">
      <% flash[:notice] if flash[:notice] %>&nbsp;
  </div>
  <div id="user" class="row">
    <div class="span3">
      <%= link_to 'Página de inicio', '/inicio' if current_user %>
    </div>
    <div class="span6">
      <%= link_to 'Blog', posts_path if can? :manage, Post %>
      <%= link_to 'Multimedia', media_items_path if can? :manage, MediaItem %>
      <%= link_to 'Nombres', proposed_names_path if can? :manage, ProposedName %>
      <%= link_to 'Páginas', pages_path if can? :manage, Page %>
      <%= link_to 'Participantes', users_path if can? :manage, User %>
      &nbsp;
    </div>
    <div class="span3">
      <% if current_user %>
          <%= link_to "Eres #{current_user.name}", current_user %> >
          <%= link_to 'Salir', logout_path %>
      <% else %>
          &nbsp;
      <% end %>
    </div>
  </div>
</div>