<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Casamasnomenos.net</title>
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page" class="container">
  <div id="flash" class="row">
    <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
    <% end %>
  </div>
  <div id="top" class="row">
    <div class="span3">
      <%= link_to '¿Qué? / ¿Quienes? / ¿Cómo?', root_path %>
    </div>
    <div class="span6">
      <%= link_to 'Blog', posts_path %> |
      <%= link_to 'Nombres', proposed_names_path %> |
      <%= link_to 'Páginas', pages_path if can? :manage, Page %> |
      <%= link_to 'Usuarios', users_path if can? :view, User %>
    </div>
    <div class="span3">
      <% if current_user %>
          <%= link_to "Eres #{current_user.name}", current_user %> >
          <%= link_to 'Salir', logout_path %>
      <% else %>
          <%= link_to 'Entrar', login_path %>
      <% end %>
    </div>
  </div>
  <div id="main" class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
