<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Procesos colectivos de vivienda</title>
  <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice].present? %>
    <div class="container">
      <div id="flash" class="row">
        <%= flash[:notice] %>
      </div>
    </div>
<% end %>

<%= render 'session_bar' %>
<div id="page" class="container">
  <div class="row">
    <div class="span12">
      <%= link_to image_tag('cabecera.png', width: 942, height: 195),
                  current_page?(proposed_names_path) ? root_path : proposed_names_path %>
    </div>
  </div>
  <%= yield %>
</div>
</body>
</html>


