<!DOCTYPE html>
<html>
<head>
  <title>Manosalaobra</title>
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div id="flash" class="row">
    <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
    <% end %>
  </div>
  <div id="top" class="row">
    <% if current_user %>
        <%= link_to "Eres #{current_user.name}", current_user %>
    <% else %>
        <%= link_to 'Entrar', '#', confirm: 'No implementado aún' %>
    <% end %> |
    <%= link_to 'Blog', posts_path %> |
    <%= link_to 'Users', users_path %> |
    <%= link_to 'Nombres', proposed_names_path %>
  </div>
  <div id="main" class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
