<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Casamasnomenos.net</title>
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top" class="container">
  <div id="flash" class="row">
      <% flash[:notice] if flash[:notice] %>&nbsp;
  </div>
  <div id="user" class="row">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span6">
      <%= link_to 'Blog', posts_path if can? :manage, Post %>
      <%= link_to 'Nombres', proposed_names_path if can? :manage, ProposedName %>
      <%= link_to 'Páginas', pages_path if can? :manage, Page %>
      <%= link_to 'Usuarios', users_path if can? :view, User %>
      &nbsp;
    </div>
    <div class="span3">
      <% if current_user %>
          <%= link_to "Eres #{current_user.name}", current_user %> >
          <%= link_to 'Salir', logout_path %>
      <% else %>
          &nbsp;
      <% end %>
    </div>
  </div>
</div>
<div id="page" class="container">
  <div class="row">
    <div class="span12">
      <%= link_to image_tag('cabecera.png', width: 942, height: 195), root_path %>
    </div>
  </div>
  <div id="main" class="row">
    <%= yield %>
  </div>
</div>
</body>
</html>
